#root {
  height: 100vh;
  display: flex;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 700px;
  height:400px;
  margin: auto;
}
